* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}
.logo{
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;

}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
  animation: backInDown;
  animation-duration: 1s;
}

.navbar ul li {
  font-family: century;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar ul li a:hover {
  background-color: rgb(206, 196, 196);
  color: #0ca894;
  box-shadow: 0 0 10px white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1000px;
  justify-content: center;
  align-items: center;
  color: white;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("img/img11.jpg") no-repeat center center/cover;
  height: 1000px;
  width: 100%;
  z-index: -1;
  opacity: .8;
  animation: zoomIn;
  animation-duration: 1s;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 5%;
}


.headings {
  font-size: 50px;
  text-align: center;
  margin: 40px 0px;
  color: black;
  animation: fadeInRight;
  animation-duration: 2s;
}
.headings:hover{
  color: #0ca894;
  transition: .5s;
  
}
.headings2{
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
  color: black;
  animation: fadeInUp;
  animation-duration: 2s;
}
.headings2:hover{
  color: #F79540;
  transition: 1s;
  
}



/* About Section */
#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px;
  background: #AFD3E2;
  border-radius: 30px;
}

#pic {
  display: flex;

}

#pic img {
  width: 575px;
  height: 400px;
  border-radius: 50%;
  
}
#pic img:hover{
    box-shadow: 0 0 50px #11BCBC;
    transition: 0.5s;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}

#intro h2 {
  font-size: 25px;
  margin-bottom: 5px;
  padding: 20px;
}
#intro h2::after{
  content: '';
    width: 0;
    height: 2px;
    background: #11BCBC;
    display: block;
    transition: 0.2s linear;
}
#intro h2:hover::after{
  width: 45%;
}
#intro h2:hover{
  color: #F79540;
}
#intro p{
  font-size: 20px;
  padding: 50px;
}

/* My portfolio section */
.ab{
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center;
}
.ab h1{
  font-size: 50px;
}
.ab h2{
  font-size: 30px;
  color: #394867;
}
.abp{
  background-color: #AFD3E2;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 50px 0px 50px 0px;
  transition: 2s;
}
.abp:hover img{
  transform: scale(1.1);
  transition: .5s;
  
}
.abp  span{
  color: #11BCBC;
}
.abp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;

}
.abp p{
  margin-bottom: 50px;
}

.abp img {
  width: 300px;
  height: 240px;
  margin: 5px;
  border-radius: 10%;
}


/* Music/Movies section */
.button a{
  padding: 8px 15px;   
  border-radius: 50px;
  margin-left: 580px;
  border: none; 
  background: #11BCBC;
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-decoration: none;
  box-shadow: 0 0 30px #394867;
  
}
.button  a:hover{
  background-color: #F79540;
  transition: 0.5s;
  color: black;
}

/*SKILLS*/
#skills{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 300px;
  padding: 20px;
  margin: 50px;
  background: #AFD3E2;
  border-radius: 30px;
}
/* Contact section */
#contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: fadeInRight;
  animation-duration: 1s;
}
.headings1 {
  font-size: 30px;
  text-align: center;
  margin: 40px 0px;
  color: black;
}
.headings1:hover{
  color: #0ca894;
  transition: .5s;
  
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  display: inline-flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(to top, gray 50%, white 50%);
  background-size: 100% 200%;
  transition: all .8s;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(45, 255, 209);
}

.box img {
  width: 80px;
  height: 80px;
  background-color: white;
  padding: 10px;
}

footer {
  margin-top: 20rem;
  text-align: center;
  background-color: gray;
}
